<?php
/**
 * Absolute Web Intellectual Property
 *
 * @copyright    Copyright :copyright: 1999-2019 Absolute Web, Inc. (http://www.absoluteweb.com)
 * @author       Absolute Web
 * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
 * @terms of use http://www.absoluteweb.com/terms-of-use/
 */
?>
<?php $helper = Mage::helper('absoluteweb_faq2');?>
<?php $item = $this->getFaqById() ?>
<form action="<?php echo Mage::getUrl('crud/index/save'); ?>" method="POST" id="form-validate">
    <ul class="form-list">
        <?php
        /*
     * @todo complete form use example
     *       class 'required-entry' means that field is required and js will be check it
     *          you can see all classes in the js/prototype/validation.js (line 418)
     */
        ?>
        <li class="wide">
            <input type="hidden" name="question_id" value="<?php echo $item->getId()?>" class="required"/><br>
            <label for="question_enter" class="required"><em>*</em><?php echo $helper->__('question_enter') ?></label>
            <div class="input-box">
                <input type="text" name="question_enter" value="<?php echo $item->getQuestion()?>" title="<?php echo $helper->__('something') ?>"
                       class="input-text required-entry"/><br>
            </div>
            <label for="answer_enter" class="required"><em>*</em><?php echo $helper->__('answer_enter') ?></label>
            <div class="input-box">
                <input type="text" name="answer_enter" value="<?php echo $item->getAnswer()?>" title="<?php echo $helper->__('something') ?>"
                       class="input-text required-entry"/>
            </div>


            <button type="submit" name="smb_btn">Submit</button>
        </li>

    </ul>
</form>