<?php
/**
 * Absolute Web Intellectual Property
 *
 * @copyright    Copyright © 1999-2019 Absolute Web, Inc. (http://www.absoluteweb.com)
 * @author       Absolute Web
 * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
 * @terms of use http://www.absoluteweb.com/terms-of-use/
 */
?>

<table border="2" style="width:100%" bgcolor="#f0f8ff">
    <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    <tr>
        <?php $collection = Mage::getResourceModel('absoluteweb_faq2/faq_collection')->setOrder('date','DESC');?>
        <?php foreach($collection as $item):?>
        <td><?php echo $item->getQuestion() ?></td>
        <td><?php echo $item->getAnswer() ?></td>
        <td><?php echo $item->getDate() ?></td>
        <td><a href="<?php echo Mage::getUrl('crud/index/delete',array('id'=>$item->getId()))?>"/>delete</a><br><a href="<?php echo Mage::getUrl('crud/index/editFaqById',array('id'=>$item->getId()))?>"/>edit</a></td>
    </tr>
    <?php endforeach;?>
</table>
<a href="<?php echo Mage::getUrl('crud/index/addNewFaq')?>"/>Add new faq</a>

